<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <link data-th-href="@{/css/addCustomerCss.css}" media="all" rel="stylesheet" type="text/css" />
  <meta charset="UTF-8" >
  <title >addCustomer</title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<!--Heading Area-->
<div class="container-fluid form-Border" id="topicBack" >
  <div class="row text-center formManagement border-info" >
    <!--ViewList Button-->
    <div class="col text-left" >
      <a href="/customer" class="btn" id="btnView" tabindex="1" >
        <span ></span >
        <span ></span >
        <span ></span >
        <span ></span >
        <i class="fa fa-list" style="font-size: 20px" ></i >&nbsp;&nbsp;
                                                            View List
      </a >
    </div >
    <!--Form Name-->
    <div class="col" id="topic" >
      <h2 class="text-light text-center" >
        <strong >
          Service Management
        </strong >
      </h2 >
    </div >
    <!--Home Button-->
    <div class="col text-right" >
      <a class="btn" id="btnHome" href="/home" tabindex="2" >
        <span ></span >
        <span ></span >
        <span ></span >
        <span ></span >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp;&nbsp;
                                                             Home
      </a >
    </div >
  </div >
</div >
<div class="container" >
  <div class="container-fluid" >
    <div id="accordianId" role="tablist" aria-multiselectable="true" >
      <div class="card" >
        <div class="card-header" role="tab" id="section1HeaderId" >
          <h5 class="mb-0" >
            <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId" aria-expanded="true"
               aria-controls="section1ContentId" >
              Vehicle Details
            </a >
          </h5 >
        </div >
        <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" >
          <div class="card-body" >
            <div data-th-replace="~{vehicle/vehicle-detail :: vehicleDetailsFragment}" ></div >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >

<!--Form Content-->
<div class="container-fluid formBorder text-center" >
  <div class="row" >
    <div class="col-sm-12 flex-column " >
      <form id="form" class="form-horizontal" data-th-action="${'/vehicleServiceStationProcess/save'}"
            data-th-object="${vehicle}" method="POST" >
        <div class="row" >
          <input id="id" data-th-field="*{id}" class="form-control" type="hidden" readonly />
          <div class="form-group col-md-12 col-sm-12 text-left flex-column" >

            <div class="form-row" >
              <table class="table table-striped table-inverse" >
                <thead class="thead-inverse" >
                <tr >
                  <th >Index</th >
                  <th >Vehicle Meter</th >
                  <th >Service Name</th >
                  <th >Service Section</th >
                  <th >Status Manage</th >
                </tr >
                </thead >
                <tbody >
                <tr data-th-each="serviceTypeParameterVehicle, index : ${vehicle.serviceTypeParameterVehicles}" >
                  <td data-th-text="${index.index}" >
                  </td >
                  <td >
                    <input type="text" class="form-control"
                           data-th-field="*{serviceTypeParameterVehicles[__${index.index}__].meterValue}" readonly />
                  </td >
                  <td >
                    <input type="text" class="form-control"
                           data-th-field="*{serviceTypeParameterVehicles[__${index.index}__].serviceTypeParameter.name}"
                           readonly />
                    <input type="hidden"
                           data-th-field="*{serviceTypeParameterVehicles[__${index.index}__].serviceTypeParameter.id}" />
                    <input type="hidden"
                           data-th-field="*{serviceTypeParameterVehicles[__${index.index}__].vehicle.id}" />
                    <input type="hidden"
                           data-th-field="*{serviceTypeParameterVehicles[__${index.index}__].id}" />
                    <input type="hidden"
                           data-th-field="*{serviceTypeParameterVehicles[__${index.index}__].serviceType.id}" />
                  </td >
                  <td data-th-text="${serviceTypeParameterVehicle.serviceTypeParameter.serviceSection.serviceSection}" >
                  </td >
                  <td >
                    <div class="custom-control custom-checkbox custom-control-inline "
                         data-th-each="serviceTypeParameterVehicleStatus,indexOne : ${serviceTypeParameterVehicleStatuses}" >
                      <input class="custom-control-input gender" required
                             data-th-name="${'serviceTypeParameterVehicles[__${index.index}__].serviceTypeParameterVehicleStatus'}"
                             data-th-id="${index.index}+${serviceTypeParameterVehicleStatus}+${indexOne.index}"
                             data-th-value="${serviceTypeParameterVehicleStatus}"
                             data-th-checked="${serviceTypeParameterVehicleStatus == serviceTypeParameterVehicle.serviceTypeParameterVehicleStatus}"
                             type="radio" />
                      <label class="custom-control-label"
                             data-th-for="${index.index}+${serviceTypeParameterVehicleStatus}+${indexOne.index}"
                             data-th-text="${serviceTypeParameterVehicleStatus.serviceTypeParameterVehicleStatus}" >
                        radio
                      </label >
                    </div >
                  </td >
                </tr >
                </tbody >
              </table >
            </div >
          </div >
          <!--Button-->
          <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
            <!--Back Button-->
            <a class="btn btn-dark" tabindex="10" href="/customer" >
              <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
            </a >
            <!--Save Button-->
            <button class="btn btn-success ml-5" type="submit" tabindex="8" >
              <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;&nbsp;<span id="submit"
                                                                                     data-th-text="${addStatus==true?'Save': 'Update'}" ></span >
            </button >
            <!--Cancel Button-->
            <button class="btn btn-warning ml-5" type="reset" tabindex="9" >
              <i class="far fa-times-circle" style="font-size: 20px" ></i >&nbsp;&nbsp;Cancel
            </button >
          </div >
          <!--Error-->
          <div class="form-row" >
            <label id="errorLabel" data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '" >Errors: </label >
            <ul >
              <li id="error" data-th-each="err: ${#fields.errors('*')}" data-th-text="${err}" class="error" ></li >
            </ul >
          </div >
        </div >
      </form >
    </div >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
