<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid   " >
  <div class="row text-center   " >
    <div class="col text-left" >
      <a class="btn" id="btnAdd" href="/vehicle/add" >
        <span ></span >
        <span ></span >
        <span ></span >
        <span ></span >
        <i class="fa fa-user-plus" style="font-size: 18px;" ></i > &nbsp;
                                                                   Add New Vehicle
      </a >
    </div >
    <div class="col text-right " >
      <a href="/home" id="btnHome" class="btn" >
        <span ></span >
        <span ></span >
        <span ></span >
        <span ></span >
        &nbsp;Home&nbsp;
      </a >
    </div >
  </div >
  <div class="row text-center" >
    <div class="col" ></div >
    <div class="col" id="topic" >
      <h2 class="text-center" >

        In Service Mangement

      </h2 >
    </div >
    <div class="col" ></div >
  </div >
</div >
<div class="container-fluid    " >
  <div class="form-row" >
    <div class="col-md-3 text-center" >
      <a href="/vehicleServiceStationProcess" >
        <button class="btn btn-primary" >All Checked</button >
      </a >
    </div >
    <div class="col-md-3 text-center" >
      <a href="/vehicleServiceStationProcess/pending" >
        <button class="btn btn-info" >Pending</button >
      </a >
    </div >
    <div class="col-md-3 text-center" >
      <a href="/vehicleServiceStationProcess/done" >
        <button class="btn btn-success" >Finish</button >
      </a >
    </div >
    <div class="col-md-3 text-center" >
      <a href="/vehicleServiceStationProcess/paid" >
        <button class="btn btn-success" >Paid</button >
      </a >
    </div >
  </div >
  <!--Custom search -->
  <div class="container-fluid" data-th-if="${addStatus==false}" >
    <div class="row" >
      <!--Custom job done search-->
      <button type="button" class="btn btn-info mb-5 btn-block text-capitalize" data-toggle="collapse"
              data-target="#dataTargetCollapse"
              aria-expanded="false" aria-controls="dataTargetCollapse"
      > Custom Payment Search
      </button >
      <div class="collapse mx-auto" id="dataTargetCollapse" >
        <h4 class="text-info" ><b > Custom Search</b ></h4 >
        <form class="form-inline"
              data-th-action="${addStatus==false?'/vehicleServiceStationProcess/done/search':'/vehicleServiceStationProcess/paid/search'}"
              data-th-method="POST" >
          <div class="col-4" >
            <label for="startDate" >FROM :
              <input class="form-control" id="startDate" name="startDate" type="date" /></label >
          </div >
          <div class="col-4" >
            <label for="endDate" >TO :
              <input class="form-control" id="endDate" name="endDate" type="date" /></label >
          </div >
          <div class="col-4" >
            <button class="btn btn-success" id="btnSummaryFind" type="submit" ><span
                  class="glyphicon glyphicon-search" ></span >&nbsp;Search
            </button >
          </div >
        </form >
      </div >
    </div >
  </div >

  <!--there are vehicles-->
  <div class="container-fluid" id="roleListPresent" data-th-if="${not #lists.isEmpty(vehicles)}" >
    <div class="table-responsive" >
      <table class="table table-striped table-condensed" >
        <thead >
        <tr >
          <th > Index</th >
          <th > Number</th >
          <th > Owner name</th >
          <th > Manufacture Year</th >
          <th data-th-if="${addStatus}" > Modify</th >
          <th data-th-if="${addStatusPayment}" > Modify</th >
        </tr >
        </thead >
        <tbody >
        <tr data-th-each="vehicle, rowCount : ${vehicles}" >
          <th data-th-text="${rowCount.count}" ></th >
          <th data-th-text="${vehicle.number}" ></th >
          <th data-th-text="${vehicle.customer.name}" ></th >
          <th data-th-text="${vehicle.manufacturedYear}" ></th >
          <th data-th-if="${addStatus}" >
            <form action="/vehicleServiceStationProcess/vehicle" method="post" >
              <input type="hidden" data-th-name="${'id'}" data-th-value="${vehicle.id}" >
              <input type="date" hidden data-th-name="${'form'}"
                     data-th-value="${#temporals.format(vehicle.createdAt,'yyyy-MM-dd')}" >
              <input type="date" hidden data-th-name="${'to'}"
                     data-th-value="${#temporals.format(vehicle.updatedAt,'yyyy-MM-dd')}" >
              <button type="submit" class="btn btn-primary btn-sm mr-2 p-2" >Do Job</button >
            </form >
          </th >
          <th data-th-if="${addStatusPayment}" >
            <form action="/vehicleServiceStationProcess/printView" method="post" >
              <input type="text" data-th-name="${'id'}" data-th-value="${vehicle.id}" hidden >
              <input type="date" hidden data-th-name="${'form'}"
                     data-th-value="${#temporals.format(vehicle.createdAt,'yyyy-MM-dd')}" >
              <input type="date" hidden data-th-name="${'to'}"
                     data-th-value="${#temporals.format(vehicle.updatedAt,'yyyy-MM-dd')}" >
              <button type="submit" class="btn btn-primary btn-sm mr-2 p-2" >Details</button >
            </form >
          </th >
        </tr >
        </tbody >
      </table >
    </div >
  </div >

  <!--if empty list-->
  <div class="row" id="serviceTypeNotList" data-th-if="${ #lists.isEmpty(vehicles)}" >
    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
      <button type="button" class="close" data-dismiss="alert"
              aria-label="Close" >
        <span aria-hidden="true" >&times;</span >
      </button >
      <h3 class="text-center text-danger" >
        <strong >There is no vehicle upto know please add vehicle to the
                 system
                 using add vehicle button.
        </strong >
      </h3 >
    </div >
  </div >

</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

<script >
    /*active boostrap alert - start*/
    $(".alert").alert();
    /*active boostrap alert - end*/
</script >
</body >
</html >
