<!doctype html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >

  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<link data-th-href="@{/css/addServiceTypeCss.css}" media="all" rel="stylesheet" type="text/css" />

<div class="container-fluid    " id="topicBack" >
  <div class="row text-left " >
    <div class="col" >
      <a class="btn" id="btnHome" href="/home" >
        <span ></span >
        <span ></span >
        <span ></span >
        <span ></span >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp;
                                                             Home
      </a >
    </div >
    <div class="col" id="topic" >
      <h4 class="text-center" >
        <strong >
                    <span
                          data-th-text="${addStatus==false?'New Service Type Add':'Update Service Type Details'}" ></span >
        </strong >
      </h4 >
    </div >
    <div class="col text-right" >
      <a href="/serviceTypeParameter" class="btn" id="btnView" >
        <span ></span >
        <span ></span >
        <span ></span >
        <span ></span >
        <i class="fa fa-list" ></i >&nbsp;
                                    View List
      </a >
    </div >
  </div >
</div >

<div class="container-fluid" >
  <div class="row" >
    <div class="col-md-12" >
      <div class="card" >
        <div class="card-body" >
          <form data-th-action="${addStatus==false?'/serviceType/save' :'/serviceType/update'}"
                method="post" data-th-object="${serviceType}"
                class="mt-3" >
            <div class="offset-3 col-6" >
              <!--/* id this comment not visualize */-->
              <!--Id-->
              <div class="form-group row" data-th-if="${addStatus==true}" >
                <label for="id" class="col-sm-4 col-form-label " > Id </label >
                <div class="col-sm-8" >
                  <input type="text" class="form-control" data-th-field="*{id}"
                         id="id" readonly >
                  <input type="text" data-th-field="*{liveDead}" hidden >
                </div >
              </div >
              <!--Interview name-->
              <div class="form-group row" >
                <label data-th-for="${'name'}" class="col-sm-4 col-form-label " >
                  Service Name </label >
                <div class="col-sm-8" >
                  <input id="name" type="text" class="form-control"     data-th-if="${addStatus==false}"                    required >
                  <input type="text" class="form-control" data-th-if="${addStatus==true}" data-th-field="*{name}"
                         required >
                  <input hidden id="nameField" type="text" class="form-control" data-th-if="${addStatus==false}" data-th-field="*{name}"
                         required >
                </div >
              </div >

              <!--vehicle model list-->
              <div class="form-row text-right" >
                <label class="col-sm-4 col-form-label " for="vehicleModel" >Vehicle Type
                                                                            :</label >
                <div class="col-md-8" >
                  <select id="vehicleModel" data-th-field="*{vehicleModel}"
                          class="form-control"
                          tabindex="3" required >
                    <option value="" >Please select</option >
                    <option
                          data-th-each="vehicleModel : ${vehicleModels}"
                          data-th-text="${vehicleModel.vehicleModel}"
                          data-th-value="${vehicleModel}" ></option >
                  </select >
                </div >
              </div >
              <div class="form-row text-right" >
                <div class="col-md-4" >
                  <label class="control-label" for="serviceTypeParameters" >Service Type Name
                                                                            :</label >
                </div >
                <div class="col-md-8" >
                  <select id="serviceTypeParameters" data-th-field="*{serviceTypeParameters}"
                          class="form-control"
                          tabindex="3" required multiple >
                  </select >
                </div >
              </div >
              <!--price-->
              <div class="form-group row" >
                <label data-th-for="${'price'}" class="col-sm-2 col-form-label " >
                  Price </label >
                <div class="col-sm-10" >
                  <input type="number" class="form-control"
                         data-th-field="*{price}"
                         required >
                  <p class="text-danger"
                     data-th-if="${#fields.hasErrors('price')}"
                     data-th-errors="*{price}" >Error Name</p >
                </div >
              </div >

              <div class="form-group row" >
                <div class="offset-sm-2 col-sm-10" >
                  <button type="submit" class="btn btn-primary" >
                    <i data-th-class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}" ></i >
                    <span
                          data-th-text="${addStatus==false?'Save' : 'Update'}" ></span >
                  </button >
                </div >
              </div >

            </div >

          </form >
        </div >
      </div >
    </div >
  </div >
</div >
<!-- footer Section -->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!-- script Fragment -->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >
    $("#vehicleModel").bind("change", function () {
        if ($(this).val()) {
            let url = "[[${serviceTypeParameterUrl}]]" + $(this).val();
            $("#serviceTypeParameters").empty();
            $.getJSON(url, function (val) {
                $.each(val, function () {
                    $("#serviceTypeParameters").append(`<option value="${this.id}">${this.name}</option>`);
                });
            });
        }
        nameBind();
    });

    $("#name").keyup(function () {
        nameBind();
    });

    function nameBind() {
        let name = $("#name").val();
        let vehicleModel = $("#vehicleModel").val();
        if (name.length !==0 && vehicleModel.length !==0){
            let nameFiled = `${vehicleModel}-${name}`
            $("#nameField").val(nameFiled);
        }
    }
</script >
</body >
</html >
