<!DOCTYPE html>
<html lang="en"  >
<head  data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav  data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--Page header -->
<div class="container-fluid  ">
    <div class="row   ">
        <div class="col">
            <a class="btn " href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i><b> &nbsp; Home</b>
            </a>
        </div>
        <div class="col">
            <h4 class="text-center">
                <strong>
                    <b><u><span id="formHeader"
                           data-th-text="${userDetail.employee.title.title}+${' '}+${userDetail.employee.name}"></span>
                    </u></b> </strong>
            </h4>
        </div>
        <div class="col text-right">
            <a href="/user" class="btn">
                <i class="fa fa-eye"></i><b>&nbsp; View list</b>
            </a>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">

    <div class="card">
    <div class="row">
        <!--Left Side-->
        <div class="form-group col-md-6 col-sm-6 text-left flex-column">
            <div class="form-row">
                <!--id-->
                <div class="col-md-4">
                    <label class="control-label">ID :</label>
                </div>
                <div class="col-md-8">
                    <strong><span id="id"  data-th-text="${userDetail.id}"></span></strong>
                </div>
            </div>
            <!--User Name-->
            <div class="form-row">
                <div class="col-md-4">
                    <label class="control-label">User Name :</label>
                </div>
                <div class="col-md-8">
                    <strong><span id="userName"  data-th-text="${userDetail.username}"></span></strong>
                </div>
            </div>
        </div>
        <!--Right Side-->
        <div class="form-group col-md-6 col-sm-6 text-left flex-column">
            <!--Employee Details-->
            <div class="form-row">
                <div class="col-md-4">
                    <label class="control-label">Employee :</label>
                </div>
                <div class="col-md-8">
                    <strong><span id="employeeName"
                                   data-th-text="${userDetail.employee.name}+ ${' - '}+${userDetail.employee.nic}"></span></strong>
                </div>
            </div>
            <!--Created date-->
            <div class="form-row">
                <div class="col-md-4">
                    <label class="control-label">Created Date :</label>
                </div>
                <div class="col-md-8">
                    <strong><span id="createDate" data-th-text="${{userDetail.createdAt}}"></span></strong>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-2">
                    <label class="control-label">Roles :</label>
                </div>
                <br>

                <div class="col-md-6">
                    <table class="table table-responsive" id="myTable">
                        <thead class="thead-light">
                        <tr>
                            <th>No</th>
                            <th>Name</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr  data-th-each="roles, count : ${userDetail.roles}">
                            <th  data-th-text="${count.count}"></th>
                            <th  data-th-text="${roles.roleName}"></th>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
        <div class="col text-center">
            <a class="btn btn-light"  tabindex="10" href="/user">
                <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
            </a>
        </div>
</div>


</div>

<!--footer include-->
<div  data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div  data-th-replace="~{fragments/script :: scriptFragment}"></div>
</body>
</html>
