* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Comic Sans", "Courier New",
    georgia, helvetica, impact, "times new roman", "trebuchet ms", verdana,
    "Iskoola Pota";
    --error-color: #fa370d;
}
body{
    position: relative;
    background-image: url('../img/loginBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);


}
#myTable{
    background-color: rgba(0,0,0,0.7);
}
td,th{
    color: white;
    font-family: Calibri;
}
#topic{
    font-size:20px;
    background-color: rgba(255,255,255,0.1);
    text-transform: ;
    text-align-center;
    position: relative;
    height: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    font-family: "Calibri";
    backdrop-filter: blur(10px);
}
#topic:before{
    content: '';
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    background-image: url('../img/loginBackground.jpg');
    filter: blur(10px);
}
#topic>h2{
    position: relative;
    top: 12px;
}
/*homebutton start*/
#btnHome {
    margin-top: 20px;
    position: relative;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    overflow: hidden;
}
#btnHome:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    background-color: rgba(255,255,255,0.1);
}
#btnHome:after {
    content: '';
    position: absolute;
    top: 0px;
    left: -100px;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
    transition: 0.5s;
}
#btnHome:hover:after{
    left: 100%;
}
#btnHome>span{
    position: absolute;
    display: block;
    transition: 0.5s ease;
}
#btnHome>span:nth-child(1){
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
#btnHome:hover span:nth-child(1) {
    width: 100%;
    transform: translateX(100%);
}
#btnHome>span:nth-child(3){
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
#btnHome:hover span:nth-child(3) {
    width: 100%;
    transform: translateX(100%);
}
/*homebutton finish*/
/*addbutton start*/
#btnAdd{
    margin-top: 20px;
    position: relative;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    overflow: hidden;
}
#btnAdd:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    background-color: rgba(255,255,255,0.1);
}
#btnAdd:after {
    content: '';
    position: absolute;
    top: 0px;
    left: -100px;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
    transition: 0.5s;
}
#btnAdd:hover:after{
    left: 100%;
}
#btnAdd>span{
    position: absolute;
    display: block;
    transition: 0.5s ease;
}
#btnAdd>span:nth-child(1){
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
#btnAdd:hover span:nth-child(1) {
    width: 100%;
    transform: translateX(100%);
}
#btnAdd>span:nth-child(3){
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
#btnAdd:hover span:nth-child(3) {
    width: 100%;
    transform: translateX(100%);
}
/*addbutton finish*/
