<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>

<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid"  style="margin-top: 10px;">

   <div class="row">
       <div class="col-md-12">
           <div class="row" >
               <div data-sec-authorize="hasAnyAuthority('ROLE_MANAGER','ROLE_CASHIER')" data-th-href="@{'/payment'}" class="col-md-2" style="width: 200px; height: 100px;">
                   <div  class="home-card  bg-light" style="height: 90px;">

                       <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER','ROLE_CASHIER')" data-th-href="@{'/payment'}"
                          class="nav-link text-primary" ><b>Payment Management </b>&nbsp;<i class="fa fa-credit-card" aria-hidden="true"></i></a >
                       <span class="bar"></span>
                   </div>
               </div>


               <div  data-sec-authorize="hasAnyAuthority('ROLE_MANAGER')" data-th-href="@{'/discountRatio'}" class="col-md-2 col-md-2" style="width: 200px; height: 100px;">
                   <div class="home-card  bg-light" style="height: 90px;">
                       <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER')" data-th-href="@{'/discountRatio'}"
                          class="nav-link text-primary" > <b>Discount Management</b> &nbsp;<i class="fa fa-percent" aria-hidden="true"></i> </a >
                       <span class="bar"></span>
                   </div>
               </div>
               <div data-sec-authorize="hasAnyAuthority( 'ROLE_IN_OFFICER' ,'ROLE_MANAGER')" data-th-href="@{'/customer'}" class="col-md-2" style="width: 200px; height: 100px;">
                   <div class="home-card  bg-light" style="height: 90px;" >

                       <a data-sec-authorize="hasAnyAuthority( 'ROLE_IN_OFFICER' ,'ROLE_MANAGER')" data-th-href="@{'/customer'}"
                          class="nav-link text-primary" > <b>Customer Management </b>&nbsp;<i class="fa fa-users" aria-hidden="true"></i></a >
                       <span class="bar"></span>
                   </div>
               </div>

               <div data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_IN_OFFICER' ,'ROLE_MANAGER')"
                    data-th-href="@{'/vehicle'}" class="col-md-2" style="width: 200px; height: 90px;">
                   <div class="home-card  bg-light" style="height: 90px;" >

                       <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_IN_OFFICER' ,'ROLE_MANAGER')"
                          data-th-href="@{'/vehicle'}" class="nav-link text-primary" ><b> Vehicle Management </b>&nbsp;<i class="fa fa-car" aria-hidden="true"></i></a >
                       <span class="bar"></span>
                   </div>
               </div>


               <div data-sec-authorize="hasAnyAuthority('ROLE_MANAGER')" data-th-href="@{'/report'}" class="col-md-2" style="width: 200px; height: 90px;">
                   <div class="home-card  bg-light" style="height: 90px;" >

                       <a data-sec-authorize="hasAnyAuthority('ROLE_MANAGER')" data-th-href="@{'/report'}" class="nav-link text-primary" ><b>All Summary Report</b>&nbsp;<i class="fa fa-book" aria-hidden="true"></i>
                       </a >

                   </div>
               </div>

           </div>
           <div class="row">

               <div data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')" class="col-md-2 "style="width: 200px; height: 100px; ">
                   <div class="home-card bg-light " style="height: 90px;">

                       <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')" data-th-href="@{'/employee'}"
                          class="nav-link text-primary" > <b>Employee Management </b>&nbsp;<i class="fa fa-book" aria-hidden="true"></i>
                       </a >
                       <span class="glyphicon glyphicon-user text-primary "></span>
                       <span class="bar "></span>
                   </div>
               </div>

               <div data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')" class="col-md-2" style="width: 200px; height: 100px;">
                   <div class="home-card bg-light" style="height: 90px;">

                       <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')" data-th-href="@{'/user'}"
                          class="nav-link text-primary" > <b>User Management</b>&nbsp;<i class="fa fa-smile" aria-hidden="true"></i> </a >
                       <span class="glyphicon glyphicon-registration-mark text-primary" style="padding-top: 28px"></span>
                       <span class="bar"></span>
                   </div>
               </div>
               <div data-sec-authorize="hasAnyAuthority('ROLE_ADMIN' ,'ROLE_MANAGER')" class="col-md-2" style="width: 200px; height: 500px;">
                   <div class="home-card bg-light" style="height: 90px;">

                       <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN' ,'ROLE_MANAGER')" data-th-href="@{'/role'}"
                          class="nav-link text-primary" > <b>Role Management </b>&nbsp;<i class="fa fa-registered" aria-hidden="true"></i></a >
                       <span class="bar"></span>
                   </div>
               </div>

               <div data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER','ROLE_TECH')" class="col-md-2" style="width: 200px; height: 100px;">
                   <div class="home-card bg-light" style="height: 90px;">

                       <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER','ROLE_TECH')" data-th-href="@{'/serviceType'}"
                          class="nav-link text-primary" > <b>Service Type Management </b>&nbsp;<i class="fa fa-shower" aria-hidden="true"></i></a >
                       <span class="bar"></span>
                   </div>
               </div>

               <div data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER','ROLE_TECH')" class="col-md-2" style="width: 200px; height: 100px; ">
                   <div class="home-card bg-light" style="height: 90px;" >

                       <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER','ROLE_TECH')"
                          data-th-href="@{'/serviceTypeParameter'}" class="nav-link text-primary" > <b>Service Type Parameter
                           Management</b>&nbsp;<i class="fa fa-brush" aria-hidden="true"></i> </a >

                   </div>
               </div>
           </div>



       </div>
   </div>

</div>




<!--footer include-->
<div th:replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div th:replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>

