<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="card bg-info">
    <div class="row text-center formManagement border-info">
        <!--Home Button-->
        <div class="col"  id="home">
            <a href="/home" id="searchShow" class="btn btn-primary" tabindex="2">
                <!--<i class="fa fa-user " style="font-size: 20px"></i>&nbsp;Add&nbsp;-->
                <i class="fas fa-home" style="font-size: 20px"></i>&nbsp;&nbsp;Home
            </a>
        </div>

        <div class="col " >
            <h2 class="text-white text-center" style="font-size: 25px" >
                <strong><b>
                    Vehicle List
                </b>
                </strong>
            </h2>
        </div>
        <div class="col">
            <a class="btn btn-success" href="/vehicle/add">
                <i class="fa fa-plus" style="font-size: 20px;"></i> &nbsp; New Vehicle </a>

        </div>
        <div class="col">
        </div>
    </div>
</div>
<div class="container-fluid " >
    <div class="offset-2 col-8 col-sm-8 col-md-8" id="roleListPresent" data-th-if="${not #lists.isEmpty(vehicles)}">
        <div class="">
            <table class="table table-dark table-striped table-responsive-sm" id="myTable" >
                <thead>
                <tr>
                    <th> Customer name</th>
                    <th> Number</th>
                    <th> Owner name</th>
                    <th> Manufacture Year</th>
                    <th > Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="vehicle, rowCount : ${vehicles}">
                    <th data-th-text="${rowCount.count}"></th>
                    <th data-th-text="${vehicle.number}"></th>
                    <th data-th-text="${vehicle.customer.name}"></th>
                    <th data-th-text="${vehicle.manufacturedYear}"></th>
                    <th >
                        <a data-th-href="${'/vehicle/view/' + vehicle.id}"
                           class="btn btn-primary btn-sm mr-2 p-2">View
                        </a>
                        &nbsp;
                        <a  data-th-href="${'/vehicle/edit/' + vehicle.id}" class="btn btn-primary btn-sm mr-2 p-2">Edit
                        </a>
                        &nbsp;
                        <a id="remove" data-th-href="${'/vehicle/delete/' + vehicle.id}"
                           class="btn btn-danger btn-sm mr-2 p-2"
                           onclick="if
                        (!(confirm('Are you sure you want to delete this vehicle?'))) return false"
                        >Delete</a></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--footer include-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>