<!doctype html>
<html lang="en"   >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body class="hold-transition sidebar-mini layout-fixed" >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<div class="container-fluid   ">
  <div class="row text-center   ">
    <div class="col text-left">
      <a href="/home" id="btnHome" class="btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        &nbsp;Home&nbsp;
      </a>
    </div>
    <div class="col text-right">
      <a class="btn" id="btnAdd" href="/serviceTypeParameter/add">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <i class="fa fa-user-plus" style="font-size: 18px;"></i> &nbsp;
                                                                 Add New Service Type Parameter
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col"></div>
    <div class="col" id="topic">
      <h2 class="text-center">

        Service Type Parameter Management

      </h2>
    </div>
    <div class="col"></div>
  </div>
</div>
<div class="container-fluid" >
  <!--if not empty list-->
  <div class="container-fluid" id="serviceTypeParameterListTable"
       data-th-if="${not #lists.isEmpty(serviceTypeParameters)}" >
    <table class="table table-hover table-striped" id="myTable" >
      <thead class="thead-inverse" >
      <tr >
        <th >S No</th >
        <th >Parameter Name</th >
        <th >Vehicle Modal</th >
        <th >Price</th >
        <th >Modify</th >
      </tr >
      </thead >
      <tbody >
      <tr data-th-each="serviceTypeParameter, rowCount : ${serviceTypeParameters}" scope="row" >
        <th data-th-text="${rowCount.count}" ></th >
        <th data-th-text="${serviceTypeParameter.name}" ></th >
        <th data-th-text="${serviceTypeParameter.vehicleModel.vehicleModel}" ></th >
        <th data-th-text="${serviceTypeParameter.price}" ></th >

        <th >
          <a class="btn btn-primary btn-sm" id="serviceTypeParameterEdit"
             data-th-href="${'/serviceTypeParameter/edit/' + serviceTypeParameter.id}" ><i
                class="fa fa-edit" ></i >&nbsp;Edit</a >
          <a class="btn btn-danger btn-sm" id="serviceTypeParameterRemove"
             data-th-href="${'/serviceTypeParameter/delete/' + serviceTypeParameter.id}"
             data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
             data-th-onclick="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"
          ><i
                aria-hidden="true" class="fa fa-trash" ></i >
            Delete</a >

        </th >
      </tr >
      </tbody >
    </table >
  </div >
  <!--if empty list-->
  <div class="row" id="serviceTypeParameterNotList" data-th-if="${ #lists.isEmpty(serviceTypeParameters)}" >
    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
        <span aria-hidden="true" >&times;</span >
      </button >
      <h3 class="text-center text-danger" >
        <strong >There is no serviceTypeParameter upto know please add serviceTypeParameter to the system
                 using add serviceTypeParameter button.
        </strong >
      </h3 >
    </div >
  </div >
  <!--Show saved serviceTypeParameter-->
  <div class="row" data-th-if="${serviceTypeParameterDetail!=null}" >
    <div class="col-sm-12" >
      <div class="alert alert-success alert-dismissible fade show" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
          <span aria-hidden="true" >&times;</span >
        </button >
        <div class="container" >
          <div data-th-replace="~{serviceTypeParameter/serviceTypeParameter-detail :: serviceTypeParameterDetail}" ></div >
        </div >
      </div >
    </div >
  </div >


</div ><!-- content-wrapper end -->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div ><!-- footer Section -->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div ><!-- script Fragment -->

<script >
    /*active boostrap alert - start*/
    $(".alert").alert();
    /*active boostrap alert - end*/
</script >
</body >
</html >
