<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body class="hold-transition sidebar-mini layout-fixed" >



<div class="container-fluid bg-dark form-Border">
    <div class="row text-center formManagement border-info">
        <!--ViewList Button-->
        <div class="col">
            <a href="/serviceTypeParameter" class="btn btn-primary" tabindex="1">
                <i class="fa fa-list" style="font-size: 20px"></i>&nbsp;&nbsp;View List
            </a>
        </div>
        <!--Customer Name-->
        <div class="col">
            <h2 class="text-light text-center">
                <strong>
                    <p  data-th-text="${serviceTypeParameterDetail.name}"></p>
                </strong>
            </h2>
        </div>
        <!--Home Button-->
        <div class="col">
            <a class="btn btn-primary" href="/home" tabindex="2">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp;&nbsp;Home
            </a>
        </div>
    </div>
</div>

<div class="container-fluid" data-th-fragment="serviceTypeParameterDetail" >
  <div class="form-group row" >
    <label class="col-sm-2 col-form-label " > Id </label >
    <div class="col-sm-10" >
      <p class="display_detail" data-th-text="${serviceTypeParameterDetail.id}" ></p >
    </div >
  </div >

  <div class="form-group row" >
    <label class="col-sm-2 col-form-label " > Name </label >
    <div class="col-sm-10" >
      <p class="display_detail" data-th-text="${serviceTypeParameterDetail.name}" ></p >
    </div >
  </div >

</div >
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div>
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
</body >
</html >
